@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fdf6ee;
  --foreground: #2c2417;
}

.dark {
  --background: #1c1917;
  --foreground: #e7e5e4;
}

@theme {
  --background-image-bannerImg: url('/img/bg-plants.jpg');
  --background-image-blackOverlay: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  --color-primary: #599b53;
  --color-secondary: #3d7039;
  --color-bglight: #fdf6ee;
  --color-bgdarks: #1c1917;
  --color-fglight: #2c2417;
  --color-fgdark: #e7e5e4;

  --color-card-light: #ffffff;
  --color-card-dark: #292524;
  --color-muted-light: #78716c;
  --color-muted-dark: #a8a29e
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
